{% include "socialapp/base/base_auth.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Chat Space
{% endblock title %}


{% block main %}
<div class="p-4 sm:ml-64">    
    <div class="flex flex-col min-h-screen items-center ">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags == "warning" %}
                <div class="flex p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
                    <li class="{{ message.tags }}">{{ message }}</li>
                </div>
                {% else %}
                <div class="flex p-4 mb-4 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800" role="alert">
                    <li class="{{ message.tags }}">{{ message }}</li>
                </div>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    <!-- Main Chat App - HTMX Used for sending and receiving messages -->
    <h1 class="text-gray-900 dark:text-white">Welcome <b class="italic">{{request.user}}</b> to Chat Room</h1>
        <div class = "w-96 pt-5">
            <h2><b>Space Name : </b><span class="text-violet-700 font-semibold capitalize">{{ name }}</span></h2>
            <p><b>Space Code : </b><span class="text-green-700 font-semibold">{{ slug }}</span></p>
            <div hx-ws="connect:/chat/{{ slug }}/">
                <form hx-ws="send:submit">
                    <div class="flex items-center px-3 py-2 rounded-lg bg-gray-50 dark:bg-gray-700">
                        <input name='message' id='message' rows="1" class="shadow-md block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></input>
                        <button type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                            <svg aria-hidden="true" class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path></svg>
                            <span class="sr-only">Send message</span>
                        </button>
                    </div>
                </form>  
            </div>
            <div id='messages'></div>
        </div>
        <div class = "pt-5">
            <!-- List - Showing chat history between users -->
            <label for=""  class="block mb-2 font-semibold text-md font-medium text-gray-900 dark:text-white">Previous Chat Session</label>
            <div class="bg-white p-4 rounded-md shadow-md w-96">   
                <ul class="divide-y divide-gray-200">
                    {% for chat in chat_messages %}
                    <li class="py-2 flex items-center justify-between">
                            <p class="text-violet-700 font-semibold capitalize">{{chat.user}}</p>
                            <p class="">{{chat.message}}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>
{% endblock main %}