{% extends "./base/base_auth.html" %}
{% load crispy_forms_tags %}



{% block title %}
    Login Page
{% endblock title %}

{% block main %}
<div class="p-4 sm:ml-64">
    <!-- Form - Profile Update -->     
    <div class="flex flex-col min-h-screen pt-6 items-center bg-zinc-100">
        {{error_message}}
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
                {% if profile_form.instance.image %}
                    <img class="rounded-full w-96 h-96 object-contain" src="{{ form.instance.image.url }}" />
                {% endif %}
                {{ profile_form|crispy }}
                <button type="submit" value="Update" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Update</button>
        </form>
    </div>
</div>
{% endblock main %}