{% include "socialapp/base_auth.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Friends Home
{% endblock title %}

{% block main %}
<div class="p-4 sm:ml-64">    
    <div class="flex flex-col min-h-screen items-center ">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags == "warning" %}
                <div class="flex p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
                    <li class="{{ message.tags }}">{{ message }}</li>
                </div>
                {% else %}
                <div class="flex p-4 mb-4 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800" role="alert">
                    <li class="{{ message.tags }}">{{ message }}</li>
                </div>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

        <h1 class="text-gray-900 dark:text-white">Welcome <b class="italic">{{request.user}}</b> to Friends Home</h1>
        <div class = "pt-5">
            <label for=""  class="block mb-2 font-semibold text-md font-medium text-gray-900 dark:text-white">Friends Circle</label>
            <div class="bg-white p-4 rounded-md shadow-md w-96">   
                <ul class="divide-y divide-gray-200">
                {% for friend in friends_circle %}
                    <li class="py-2 flex items-center justify-between">
                            {% if friend.from_user == request.user.id %}
                            <a class="text-violet-700 font-semibold capitalize" href="{% url 'profile' friend.from_user %}">
                                {{friend.from_user}}
                            </a>
                            {% else %}
                            <a class="text-violet-700 font-semibold capitalize" href="{% url 'profile' friend.to_user %}">
                                {{friend.to_user}}
                            </a>
                            {% endif %}
                        
                            {% csrf_token %}
                            <button class="w-30 py-1 px-8 bg-red-500 hover:bg-red-600 text-white font-medium py-1 px-2 rounded-lg">Delete</button>
                    
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class = "pt-5">
            <label for=""  class="block mb-2 font-semibold text-md font-medium text-gray-900 dark:text-white">Friend Requests Pending</label>
            <div class="bg-white p-4 rounded-md shadow-md w-96">   
                <ul class="divide-y divide-gray-200">
                {% for request in friend_requests_received %}
                    {{request.id }}
                    <li class="py-2 flex items-center justify-between">
                        <a class="text-violet-700 font-semibold capitalize" href="{% url 'profile' request.from_user %}">
                            {{request.from_user}}
                        </a>
                        <form action="{% url 'friend_accept' pk=request.id %}" method="POST">
                            {% csrf_token %}
                            <button class="w-30 py-1 px-7 bg-green-600 hover:bg-green-800 text-white font-medium py-1 px-2 rounded-lg">Accept</button>
                        </form>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class = "pt-5">
            <form method="GET">
                <label for="friend-search"  class="block mb-2 font-semibold text-md font-medium text-gray-900 dark:text-white">Search Friends</label>
                <div class="flex w-96">
                    <input id="friend-search" type="text" name="q" placeholder="Search by username, first name, or last name" class="w-full mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                </div>
                <button type="submit" class="text-white bg-gradient-to-r to-emerald-600 from-sky-400 border border-white rounded-lg font-medium text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none hover:shadow-lg">Search</button>
            </form>
        </div>
        <p class="text-gray-400 dark:text-white"> Click user to navigate its profile </p>
        <div class="bg-white p-4 rounded-md shadow-md w-96">   
            <ul class="divide-y divide-gray-200">
            {% for user in friend_list %}
                {% if user.pk  != request.user.id %}
                    <li class="py-2 flex items-center justify-between">
                    <a class="text-violet-700 font-semibold capitalize" href="{% url 'profile' user.username %}">
                        {{ user.username }}
                        <!-- {{ user.pk }}
                        {{ user.is_friend}}
                        {{ user.is_pending}} -->
                    </a>
                    {% if user.is_friend %}
                        <p class="text-blue-500 ">Friends</p>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <button class="w-30 py-1 px-8 bg-red-500 hover:bg-red-600 text-white font-medium py-1 px-2 rounded-lg">Delete</button>
                        </form>
                    {% elif user.is_pending %}
                        <p class="text-blue-500 ">Pending Request for acceptance</p>
                        <!-- <form action="" method="POST">
                            {% csrf_token %}
                            <button class="w-30 py-1 px-8 bg-green-600 hover:bg-green-800 text-white font-medium py-1 px-2 rounded-lg">Accept</button>
                        </form> -->
                    {% else %}  
                        <form action="{% url 'friend_add' pk=user.pk %}" method="POST">
                            {% csrf_token %}
                            <button class="w-30 bg-blue-500 hover:bg-blue-600 text-white font-medium py-1 px-2 rounded-lg">Send Request</button>
                        </form>
                    {% endif %}
                    </li>
                {% endif %}
            {% empty %}
                <li class="py-2 flex items-center justify-between">No users found..</li>
            {% endfor %}

            </ul>
        </div>
    </div>
</div>
{% endblock main %}